

.top-hero {
  position: relative;
  width: 100%;
  height: 60vh;

}

.top-hero-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.4);

  padding: 20px;
  max-width: 80%;
}

.top-hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;

}

